@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700;800&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header h2 {
  color: #111;
  font-size: 1.25em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul li {
  padding-left: 15px;
  text-decoration: none;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 1.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header ul li a:hover {
  color: #ff5100;
}

header .navigationBtn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  padding: 10px;
  background: url(menu.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(0);
          filter: invert(0);
  cursor: pointer;
}

header .navigationBtn.clicked {
  background: url(close.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(0);
          filter: invert(0);
}

header.scroll {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

header.scroll a {
  color: #111;
}

header.scroll h2 {
  color: #111;
}

header.scroll .navigationBtn {
  -webkit-filter: invert(0);
          filter: invert(0);
}

header.clicked {
  background-color: #fff;
}

header.clicked a {
  color: #111;
}

header.clicked h2 {
  color: #111;
}

.towel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 20px 0 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.towel .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.towel .container {
  position: relative;
  width: 100%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 150px;
}

.towel .container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  margin: 25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(2000px);
          transform: perspective(2000px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.3);
          box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.3);
}

.towel .container .card:hover {
  z-index: 900;
  -webkit-transform: perspective(2000px) rotate(-10deg);
          transform: perspective(2000px) rotate(-10deg);
  -webkit-box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.towel .container .card:hover .imgBox {
  -webkit-transform: rotateY(-135deg);
          transform: rotateY(-135deg);
}

.towel .container .card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.towel .container .card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.towel .container .card .textBox {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.towel .container .card .textBox h2 {
  color: #111;
}

.towel .container .card .textBox p {
  color: #111;
}

@media (max-width: 991px) {
  header h2 {
    padding: 10px 0;
    font-size: 1em;
  }
  header .navigation {
    display: none;
  }
  header .navigation.clicked {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navigation.clicked a {
    font-size: 2em;
    color: #111;
  }
  header .navigation.clicked a:hover {
    color: #ff5100;
  }
  header .navigation.clicked h2 {
    color: #111;
  }
  header .navigation.clicked .navigationBtn {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  header .navigationBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .towel .container {
    padding: 20px;
  }
}
/*# sourceMappingURL=towel.css.map */